<!-- <p>temperature-monitoring works!</p> -->
<app-header></app-header>
<div class="cube-scene">
    <canvas #cubescene id="cubescene"></canvas>
    <div class="cube-scene__info">
        <div class="cube-scene__info__title">
            Thông tin
        </div>
        <div class="cube-scene__info__storage-name">
            Tên kho: <b>{{ nameStorage }}</b>
        </div>
        <div class="cube-scene__info__storage-size">
            <div class="cube-scene__info__storage-size__heading">
                <div class="size-heading">
                    Kích thước kho
                </div>
                <div class="unit">
                    Đơn vị: <b>mét (m)</b>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="title-td">Dài</div>
                        <div class="value-td">{{ sizeStorage.length/10 }}</div>
                    </td>
                    <td>
                        <div class="title-td">Rộng</div>
                        <div class="value-td">{{ sizeStorage.width/10 }}</div>
                    </td>
                    <td>
                        <div class="title-td">Cao</div>
                        <div class="value-td">{{ sizeStorage.height/10 }}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cube-scene__info__temp-info">
            <div class="cube-scene__info__temp-info__heading">
                <div class="temp-heading">
                    Nhiệt độ
                </div>
                <div class="unit">
                    Đơn vị: <b>độ C</b>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="title-td">Min</div>
                        <div class="value-td">{{ minTemperature }}</div>
                    </td>
                    <td>
                        <div class="title-td">Max</div>
                        <div class="value-td">{{ maxTemperature }}</div>
                    </td>
                    <td>
                        <div class="title-td">Trung bình</div>
                        <div class="value-td">{{ averageTemperature }}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cube-scene__info__temp-info">
            
        </div>
    </div>
</div>


