
<div class="header">
    <div class="header__project-signature">
        <div class="header__project-signature__logo"></div>
        <div class="header__project-signature__name">
            COLD STORAGE
        </div>
    </div>
    <div class="header__menu">
        <a [routerLink]="['/temperature-monitoring']">Temp monitoring</a>
        <a [routerLink]="['/sensor-network']">Sensor list</a>
    </div>
    <div class="header__sign-in-info">
        <div class="header__sign-in-info__iot-station" *ngIf="usernameIoT!=''">
            <div class="header__sign-in-info__iot-station__icon">
                <fa-icon [icon]="faChargingStation"></fa-icon>
            </div>
            <div class="header__sign-in-info__iot-station__account">
                Trạm IoT: <b>abc@gmail.com</b>
            </div>
            <div class="header__sign-in-info__iot-station__action">
                <fa-icon [icon]="faPencil"></fa-icon>
                <fa-icon [icon]="faTrash"></fa-icon>
            </div>
        </div>
        <div class="header__sign-in-info__avatar" (click)="openSignOutDialog()">
            <fa-icon [icon]="faCircleUser"></fa-icon>
        </div>
        <div class="header__sign-in-info__name" (click)="openSignOutDialog()">
            Trinh Tan Song
        </div>
    </div>
</div>

<div class="sign-out" *ngIf="signOutDialogOpening !== undefined"
    (mouseover)="closeSignOutDialogTimeOutOnHover()"
    (mouseout)="setSignOutDialogTimeOut()"
    [class.slideDown]="signOutDialogOpening"
    [class.slideUp]="!signOutDialogOpening && signOutDialogOpening !== undefined"    
>
    <div class="sign-out__btn" (click)="logOut()">
        <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
        Đăng xuất
    </div>
</div>
