
<div class="header">
    <div class="header__project-signature">
        <div class="header__project-signature__logo"></div>
        <div class="header__project-signature__name">
            COLD STORAGE
        </div>
    </div>
    <div class="header__sign-in-info">
        <div class="header__sign-in-info__iot-station">
            <div class="header__sign-in-info__iot-station__icon">
                <fa-icon [icon]="faChargingStation"></fa-icon>
            </div>
            <div class="header__sign-in-info__iot-station__account">
                Trạm IoT: <b>abc@gmail.com</b>
            </div>
            <div class="header__sign-in-info__iot-station__action">
                <fa-icon [icon]="faPencil"></fa-icon>
                <fa-icon [icon]="faTrash"></fa-icon>
            </div>
        </div>
        <div class="header__sign-in-info__avatar">
            <fa-icon [icon]="faCircleUser"></fa-icon>
        </div>
        <div class="header__sign-in-info__name">
            Nguyen Van A
        </div>
    </div>
</div>
